<section class="block block--dark footer-block">
  <div class="container grid">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer-block__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a>WordPress Hosting</a></li>
          <li><a>Free Automated WordPress</a></li>
          <li><a>Migrations</a></li>
          <li><a>Domain Names</a></li>
          <li><a>Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer-block__heading">Company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a>WordPress Hosting</a></li>
          <li><a>Free Automated WordPress</a></li>
          <li><a>Migrations</a></li>
          <li><a>Domain Names</a></li>
          <li><a>Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer-block__heading">Support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a>WordPress Hosting</a></li>
          <li><a>Free Automated WordPress</a></li>
          <li><a>Migrations</a></li>
          <li><a>Domain Names</a></li>
          <li><a>Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer-block__heading">Domains</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a>WordPress Hosting</a></li>
          <li><a>Free Automated WordPress</a></li>
          <li><a>Migrations</a></li>
          <li><a>Domain Names</a></li>
          <li><a>Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>

    <section class="footer-block__company footer__section">
      <img src="/Images/logo.svg" alt="" />
      <p class="footer-block__copyright">Copyright © 2020 Cassaundra Abood</p>
    </section>
  </div>
</section>
