<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas inventore
      neque odit provident distinctio quae eligendi, laudantium dolore dicta
      culpa soluta, error ex molestiae? Saepe, repellendus minus enim distinctio
      culpa nam blanditiis ea? Non quo quaerat porro minus quam odit hic culpa,
      suscipit mollitia perferendis, obcaecati facere natus ab ea.
    </p>
  </div>
</div>
