<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat
    dignissimos facilis consequuntur rerum delectus, quibusdam ea nihil suscipit
    perferendis alias eos, maiores ipsam? Debitis non saepe fuga vero veniam
    cupiditate, distinctio repellat placeat, quibusdam accusamus dolorum
    suscipit ducimus, nesciunt doloribus unde molestias. Ab nostrum alias
    repellat nihil quia aut obcaecati.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
