<section class="block block--dark block--skewed-right showcase">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="showcase__picture">
      <source type="image/png" srcset="images/ipad@2x 2x, images/ipad.png 1x" />
      <img src="Images/ipad.png" alt="" />
    </picture>
    <ul class="showcase__content">
      <li class="list media">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
            inventore neque odit provident distinctio quae eligendi, laudantium
            dolore dicta culpa soluta, error ex molestiae? Saepe, repellendus
            minus enim distinctio culpa nam blanditiis ea? Non quo quaerat porro
            minus quam odit hic culpa, suscipit mollitia perferendis, obcaecati
            facere natus ab ea.
          </p>
        </div>
      </li>
      <li class="list media">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
        <div class="media__body">
          <h3 class="media__title">Staging, Git & WP-CLI</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
            inventore neque odit provident distinctio quae eligendi, laudantium
            dolore dicta culpa soluta, error ex molestiae? Saepe, repellendus
            minus enim distinctio culpa nam blanditiis ea? Non quo quaerat porro
            minus quam odit hic culpa, suscipit mollitia perferendis, obcaecati
            facere natus ab ea.
          </p>
        </div>
      </li>
      <li class="list media">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
            inventore neque odit provident distinctio quae eligendi, laudantium
            dolore dicta culpa soluta, error ex molestiae? Saepe, repellendus
            minus enim distinctio culpa nam blanditiis ea? Non quo quaerat porro
            minus quam odit hic culpa, suscipit mollitia perferendis, obcaecati
            facere natus ab ea.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
